//SAILOR NIGHT
$primary-color: #ee3efe;
$secondary-color: #2e32fb;
$primary-border-color: #110038;
$text-color: #110038;
$bg-color: #110038;
$global-color: #110038;

$btn-primary: #ee3efe; // $primary-color
$btn-primary-shadow: #a72cbb;
$btn-primary-darker: #ce36db;

$btn-theme: #ccc;
$btn-theme-border: #808080;
$btn-theme-shadow: #b4b4b4;

$btn-theme-active: #2e32fb;
$btn-theme-active-border: rgba(51, 53, 143, 0.2);
$btn-theme-active-shadow: #e6dce4;
$btn-theme-text: #fff;

$colorBox-grey: #b4b4b4;
$colorBox-grey-shadow: #8f8f8f;
$colorBox-suggestion-disable: #b4b4b4;
$colorBox-suggestion-border: #808080;
$colorBox-suggestion-active: #dbdbdb;

$sectionBox-border: #e6bbe2;
$btn-search-disable: #b4b4b4;

$btn-more: #2e32fb; //$secondary-color
$btn-more-shadow: #2124b3;
$btn-more-border: #4c2f99;
$btn-more-darker: #2629cc;

$font-regular: 400;
$font-bold: 700;
