//SAILOR LIGHT
$primary-color:#f7c9f3;
$secondary-color: #4180f6;
$primary-border-color:#110038;
$text-color:#110038;
$bg-color: #FFF4FD;
$global-color: #110038;

$btn-primary:#f7c9f3; // $primary-color
$btn-primary-shadow:#997d97;
$btn-primary-darker:#e6bbe2;

$btn-theme:#f0f0f0;
$btn-theme-border:#808080;
$btn-theme-shadow:#b4b4b4;

$btn-theme-active:#fff4fd;
$btn-theme-active-border:#cca6c9;
$btn-theme-active-shadow:#e6dce4;
$btn-theme-text:#110038;

$colorBox-grey:#e6e6e6;
$colorBox-grey-shadow:#b4b4b4;
$colorBox-suggestion-disable:#f0f0f0;
$colorBox-suggestion-border:#808080;
$colorBox-suggestion-active:#DBDBDB;

$sectionBox-border:#e6bbe2;


$btn-search-disable:#b4b4b4;

$btn-more: #4180f6; //$secondary-color
$btn-more-shadow:#284f99;
$btn-more-border:#4c2f99;
$btn-more-darker:#3a72db;

$font-regular:400;
$font-bold:700;











